<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>My App</title>
</head>
<body>
    <div class="bar-nav">
        <h3 class ="title-bar">Gestion de Inventario</h3>
        <div class="option-bar">
            <a href="{{ url_for('user') }}">Log In</a>
        </div>
        <div class="option-bar">
            <a href="{{ url_for('index') }}">Index</a>
        </div>
        <div class="option-bar">
            <a href="{{ url_for('product') }}">Products</a>
        </div>
        <div class="option-bar">
            <a href="{{ url_for('provider') }}">Providers</a>
        </div>
        <div class="option-bar">
            <a href="{{ url_for('contact') }}">Contact Us</a> 
        </div>
    </div>
    <div class="containerF">
        <div class="encabezado">
            <img class="logoImg"src="{{ url_for('static',filename='img/logo.png') }}" alt="logo">
        </div>
        {% block contenido %}
        {% endblock %}
    </div>
</body>
</html>